@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-start-rgb: 23, 23, 23;
  --background-end-rgb: 255, 255, 255;
}


body {
  background: rgb(var(--background-start-rgb));
}

html::-webkit-scrollbar {
  width: 0rem;
  display:none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  text-rendering: optimizeLegibility;
  scroll-padding-top: 20px;
  scroll-behavior: smooth;
}
@font-face {
  font-family: "Mattone";
  src: url("./_assets/Mattone-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
